// @styles
@import '../../../../globals/scss/spacing';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form > div {
  margin: $spacing-xs 0;
}

.card-actions--hide {
  visibility: hidden;
}