// @styles
@import '../../../globals/scss/spacing';

.answer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.answer svg {
    color: red;
    margin-right: $spacing-2xs;
}

.answer--correct svg {
    color: green;
}