// @styles
@import '../../../globals/scss/spacing';

.card {
  width: 400px;
  height: calc(100vh - 93px);
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.card .card-header__avatar {
  padding: $spacing-2xs;
}

.card .card-content {
  overflow-y: scroll;
  display: flex;
  flex: 1;
  padding: 16px;
}

.card .card-actions {
  padding: 16px;
}

.card .MuiCardContent-root-71:last-child {
  padding: 16px;
}

.card .error {
  display: flex;
  flex-direction: column;
}

.card .error .error_title {
  margin-bottom: $spacing-md;
}

.center-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------- @media -------------------*/

@media screen and (max-width: 475px) {
  .card {
    width: 100%;
    max-height: none;
  }
}