// @styles
@import '../../../globals/scss/spacing';

.card {
  width: 375px;
}

.card-header__avatar {
  padding: $spacing-2xs;
}

.card-content {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
}

.center-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-actions {
  margin-top: auto;
}

.card-actions--hide {
  visibility: hidden;
}