.card {
  width: 375px;
}

.card-content {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
}

.center-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-actions {
  flex: 1;
  align-items: flex-end !important;
}

.card-actions--hide {
  visibility: hidden;
}